---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>



{% assign author = site.authors[page.author] %}
<article class="entry">
  <header>
    <p class="date">
      <span class="month">{{ page.date | date: '%b' }}</span>
      <span class="day">{{ page.date | date: '%d' }}</span>
      <span class="year">{{ page.date | date: '%Y' }}</span>
    </p>
    <h1>{{ page.title }}</h1>
    <p class="byline">
      by {{ author.display_name }}
    </p> <!-- /.byline -->
  </header>
	{{ content }}
</article>